body {
    font-family:"raleway", times, serif;
}


#menu {
    display: flex; 
    justify-content: space-between;    
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 400px;
}

/* Barre de recherche */
#search {
    margin: 15px 0 20px 0;
    display: flex;
    
}

.btn {
    border: 2px solid #0065FC;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
    font-weight: bold;
    color: #F2F2F2;
    padding: 8px;
}

.icone {
    
    background-color: #F2F2F2;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 10px 0 0 10px;      
}

.fa-map-marker-alt {
    position: relative;
    top: 10px;      
}

/*filtres */

.Filtres {
    display: flex;  
    align-items: center;
    
        
}

.titre{
    margin-right: 50px; 
    margin-left: 0px;
    font-weight: bold;
    
}

.btn_filtre {
    display: flex;
    margin: 0px 2% 0px 0px;    
    border: solid 3px #f2f2f2;
    border-radius: 40px;
    text-align: center;  
}

.icone2 {
    color: #0065fc;
    background-color: #f2f2f2;
    border-radius: 50%;
    height: 40px;
    width: 40px;    
        
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
    position: relative;
    top: 10px;
}

.btn_btn{
    padding: 0px 20px 0px 20px;
    border: 3px none #f2f2f2;
    border-radius: 50px;
    text-align: center;
    width: auto;
    cursor: pointer;
    background-color: white;
    align-items: center;
}

.titre2{
    color:black;
    font-weight: bold;
    
}

.btn_filtre :hover{
    background-color: #f2f2f2;
   
}

.autre {
    display: flex;
    justify-content: flex-start;
    width: 30%;
    margin: 20px 0px 30px 0px;
}

.fas_info {
    border: 2px solid #f2f2f2;
    width: 20px;
    height: 17px;
    border-radius: 50%;
    min-width: 20px;
    font-size: 12px;
    padding-top: 3px;
}

.fas_info i {
    padding-left: 7px;
    color: #0065fc;
}

.texte_info{
    margin-left: 10px;
    padding-top: 2px;
    font-size: 13px;
}



#hebergements, #populaires {
    background-color:#F2F2F2;
    }


.clair {
    color:#DEEBFF
    }


.bleu {
    color:#0065FC

        }

.cap {
    font-weight:bold;
}

.borduresimg {

        border-radius: 10px;
        background-color:white;
        border-color:white;
        padding:10px 10px;
}
