body {
    font-family:"raleway", times, serif;
}

/* Navigation */
#menu {
    display: flex; 
    justify-content: space-between;    
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 400px;
}

/* Barre de recherche */
#search {
    margin: 15px 0 20px 0;
    display: flex;
    
}

.btn {
    border: 2px solid #0065FC;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
    font-weight: bold;
    color: #F2F2F2;
    padding: 8px;
}

.icone {
    
    background-color: #F2F2F2;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 10px 0 0 10px;      
}

.fa-map-marker-alt {
    position: relative;
    top: 10px;      
}

/*filtres */

.Filtres {
    display: flex;  
    align-items: center;  
        
}

.titre{
    margin-right: 50px; 
    margin-left: 0px;
    font-weight: bold;    
}

.btn_filtre {
    display: flex;
    margin: 0px 2% 0px 0px;    
    border: solid 3px #f2f2f2;
    border-radius: 40px;
    text-align: center;  
    
}

.icone2 {
    color: #0065fc;
    background-color: #f2f2f2;
    border-radius: 50%;
    height: 40px;
    width: 40px;  
        
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
    position: relative;
    top: 10px;
}

.btn_btn{
    display: flex;
    
    padding: 0px 20px 0px 20px;
    border: 3px none #f2f2f2;
    border-radius: 50px;
    text-align: center;
    width: auto;
    cursor: pointer;
    background-color: white;
    align-items: center;
}

.titre2{
    color:black;
    font-weight: bold;
    
}

.btn_filtre :hover{
    background-color: #f2f2f2;   
}

/* autres */

.info {
    display: flex;
    align-items: center;
}
.vertical {    
    text-align: center;    
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color:#F2F2F2;
    color:#0065FC;
    margin: 0 50px 0 0;
}

.fa-info {
    position: relative;
    top: 10px;    
}

/* Première section, hébergemtns et populaires */

#hebergements {
    display: flex;
    
}

#hebergements h1 {
    width: 100%;
    margin-left: 30px;
}

.test {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 66%;
    background-color: crimson; 
    border-radius: 10px;
    margin-right: 50px;
    
}

.room {
    display:flex;
    flex-direction: column;  
    justify-content: space-around; 
    border-radius: 10px;
    padding:5px 5px;
    background-color:white;
    border-color:white;    
    flex-wrap: wrap;
    width: 266px;
    height: 200px; 
    margin-bottom: 20px;   
}
.arrondi {
    border-radius: 10px 10px 0 0;
    width: 266px;
    height: 130px;
    object-fit: cover;      
}

#afficher
{	
	width: 100%;
	height: 20px;
	display: flex;
	justify-content: flex-start;
	padding-left: 35px;
	
}

#populaires {
    display: flex;
    width: 34%;
    border-radius: 10px;
    justify-content: space-around;
    flex-wrap: wrap;  
    background-color: rgb(88, 69, 172);
}

.truc {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.room2 {
    border-radius: 10px;
    padding:5px 5px;
    background-color:white;
    border-color:white;
    width:300px;
     
    }


.arrondi2 {
    border-radius: 10px 0 0 10px;
    width: 130px;
    height: 130px;
    object-fit: cover;   
    
}




    /* footer */
#afficher
{	
	width: 100%;
	height: 20px;
	display: flex;
	justify-content: flex-start;
	padding-left: 35px;
	
}
    .cap {
    font-weight:bold;
    }
    

/* couleur étoiles */
.clair {
    color:#DEEBFF
    }


.bleu {
    color:#0065FC

        }

