body {
    font-family:"raleway", times, serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

h1 {
    font-size: 1.2em;
}

.hotel {
    font-weight: bold;
    
    
}

/* Navigation */
#menu {
    display: flex; 
    justify-content: space-between; 
      
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 400px;
}


nav li {
    padding: 20px;
    border: transparent solid;
    text-decoration: none;
}

nav li:hover {
    border-top: #0065FC solid;
}


.inscrire {
    color:  #0065FC;
}

/* Barre de recherche */
#search {
    margin: 15px 0 20px 0;
    display: flex;
    
}

.btn {
    border: 2px solid #0065FC;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
    font-weight: bold;
    color: #F2F2F2;
    padding: 8px;
}

.icone {
    
    background-color: #F2F2F2;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 10px 0 0 10px;      
}

.fa-map-marker-alt {
    position: relative;
    top: 10px;      
}

/*filtres */

.Filtres {
    display: flex;  
    align-items: center;  
        
}

.titre{
    margin-right: 50px; 
    margin-left: 0px;
    font-weight: bold;    
}

.btn_filtre {
    display: flex;
    margin: 0px 2% 0px 0px;    
    border: solid 3px #f2f2f2;
    border-radius: 40px;
    text-align: center;  
    
}

.icone2 {
    color: #0065fc;
    background-color: #f2f2f2;
    border-radius: 50%;
    height: 40px;
    width: 40px;  
        
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
    position: relative;
    top: 10px;
}

.btn_btn{
    display: flex;
    
    padding: 0px 20px 0px 20px;
    border: 3px none #f2f2f2;
    border-radius: 50px;
    text-align: center;
    width: auto;
    cursor: pointer;
    background-color: white;
    align-items: center;
}

.titre2{
    color:black;
    font-weight: bold;
    
}

.btn_filtre :hover{
    background-color: #f2f2f2;   
}

/* autres */

.info {
    display: flex;
    align-items: center;
}
.vertical {    
    text-align: center;    
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color:white;
    border: solid#f2f2f2;
    color:#0065FC;
    margin: 0 50px 0 0;
}

.fa-info {
    position: relative;
    font-size: 10px;
        
}

/* Première section, hébergements et populaires */

/* hébergements */

#hebergements {
    display: flex;
    
}

#hebergements h1 {
    width: 100%;
    margin-left: 30px;
   
}

.hebergements a {
    border-radius: 10px;
    background-color: white;
}


.test {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 66%;
    background-color:#F2F2F2; 
    margin-right: 50px;
    border-radius: 10px;
    
}

.room {
    display:flex;
    flex-direction: column;  
    justify-content: space-around; 
    border-radius: 10px;
    padding:5px 5px;
    background-color:white;
    border-color:white;    
    flex-wrap: wrap;
    width: 266px;
    height: 200px; 
    margin-bottom: 20px;   
}
.arrondi {
    border-radius: 10px 10px 0 0;
    width: 266px;
    height: 130px;
    object-fit: cover;      
}

#afficher
{	
	width: 100%;
	height: 20px;
	display: flex;
	justify-content: flex-start;
	padding-left: 35px;
	
}
/* populaires */

#populaires {
    
    border-radius: 10px;
    background-color:#F2F2F2;  
    width:34%; 
        
    }
.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

#populaires h1 {
    width: 100%;
    display: flex;    
    margin-left: 30px;
    margin-right: 20px;
    justify-content: space-between;
}

.container {
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    
}

.container a {
    border-radius: 10px;
    background-color: white;
}

.room2 {
    padding:5px 5px;
    border-color:white;
    width:350px;
    height: 130px;
}
.arrondi2 {
    border-radius: 10px 0 0 10px;
    width: 130px;
    height: 130px;
    object-fit: cover;   
}

.truc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: right;      
    width: 200px;
        
}
/* Activités */

#activites {
    display: flex;
    }

#activites h1 {
    width: 100%;
    
    
}

.test2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
           
}
.room3 {
    display:flex;    
    border-radius: 10px;
    background-color:white;
    flex-wrap: wrap;
    width: 350px;
    height: 500px;
    justify-content: flex-start;
    box-shadow: 0px 5px 5px #F2F2F2; 
      
}

.arrondi3 {
    border-radius: 10px 10px 0 0;
    width: 350px;
    height: 450px;
    object-fit: cover;
}

.imgcol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.room4 {
    display:flex;
    border-radius: 10px;
    background-color:white;
    flex-wrap: wrap;
    width: 350px;
    height: 275px;
    justify-content: flex-start;
    box-shadow: 0px 5px 5px #F2F2F2; 
         
}
.arrondi4 {
    border-radius: 10px 10px 0 0;
    width: 350px;
    height: 225px;
    object-fit: cover;
}

.room5 {
    display:flex;
    border-radius: 10px;
    background-color:white;
    flex-wrap: wrap;
    width: 350px;
    height: 200px;
    justify-content: flex-start;
    box-shadow: 0px 5px 5px #F2F2F2; 
         
}
.arrondi5 {
    border-radius: 10px 10px 0 0;
    width: 350px;
    height: 150px;
    object-fit: cover;
}

.room6 {
    display:flex;
    border-radius: 10px;
    background-color:white;
    flex-wrap: wrap;
    width: 350px;
    height: 220px;
    justify-content: flex-start;
    box-shadow: 0px 5px 5px #F2F2F2; 
         
}
.arrondi6 {
    border-radius: 10px 10px 0 0;
    width: 350px;
    height: 170px;
    object-fit: cover;
}

    /* footer */
#afficher
{	
	width: 100%;
	height: 20px;
	display: flex;
	justify-content: flex-start;
    padding-left: 35px;
    font-weight: bold;
	
}
    .cap {
    font-weight:bold;
    }
    

/* couleur étoiles */
.clair {
    color:#F2F2F2
    }


.bleu {
    color:#0065FC

        }

/* footer */
footer {
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
}
footer div {
    width:80%;
	display: flex;
	flex-direction: column;
    
}
footer h2 {
    font-size: 1em;
}